*,*::after,*::before{
    box-sizing: border-box;
}

body{
    margin: 0;
    background: linear-gradient(to right,#0F2027,#203A43,#2C5364);
    display: flex;
    justify-content: center;
}

.container{
    display: grid;
    margin-top: 2rem;
    grid-template-columns: repeat(4,6rem);
    grid-template-rows: minmax(7rem,auto) repeat(5,6rem);
}

.span-two{
    grid-column: span 2;
}

.output{
    grid-column: 1 / -1;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: .8rem;
    word-wrap: break-word;
    word-break: break-all;
}

.container > button{
    outline: none;
    border: 1px solid white;
    font-size: 2rem;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
}

.container > button:hover,
.container > button:focus{
    background-color: rgba(255, 255, 255, 0.9);
}


.output .previous-operand{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.6rem;
}

.output .current-operand{
    color: rgba(255,255,255,1);
    font-size: 2.5rem;
}

